app = "alugafacil"
primary_region = "gru"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

  [[http_service.checks]]
    interval = "30s"
    grace_period = "5s"
    method = "GET"
    path = "/api/health"
    protocol = "https"
    timeout = "5s"

[env]
  PORT = "8080"

[mounts]
  source = "pb_data"
  destination = "/pb_data"
